@import "../../styles/variables.scss";

.chartBox{
    display: flex;
    justify-content: space-between;
    height: 100%;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex: 3;

        .top{
            display: flex;
            justify-content: space-between;
        }
    }

    .right{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        .chart{
            height: 50%;
            width: 100%;
        }

        .percent{

            h5{
                font-weight: 500;
                font-size: 17px;
            }
        }
        
    }
}
