.topDeals{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .dealsContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .left{
        display: flex;
        gap: 10px;

        img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        .title{
            h5{
                font-weight: 400;
                font-size: 13px;
            }
            h6{
                font-weight: 400;
                font-size: 11px;
            }
        }
    }
}