@import '../../styles/variables.scss';

.footer{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $soft-bg;
    

    h4{

        &:first-child{
            font-weight: 500;
            letter-spacing: 1px;
        }
        &:last-child{
            font-weight: 200;
        }
    }
}